GUI/Project-1.txt
GUI/Project-2.py
GUI/Project-1.py
GUI/project_2.ipynb
GUI/Devil.jpeg
GUI/Project-1.py
Learning/numpy_learn.ipynb
opencv
area_test.py
bank_management_system.py
car_dealership_system.py
hospital_management_system.py